
body {
    /* background-color: #f3a8c2; */
    /* background-color: bisque; */
    background-color: rgb(240, 180, 95);
    padding: 70px 40px 0px 40px; /*un padding es como el reloj en sentido horario*/
    /* background-image: url(./img/fondoPort.png); */
}
/* .gr{
    text-align: right;
    font-size:40pt; 
} */

.titu {
    margin-top: 10%;
    display: flex; /*para desplazar horizontalmente los divs hijos*/
    margin-left: 20%;  
}


.hola {
    margin-right: 10%;
    color: #392f0d;
}

#perfil {
    width:300px;    
    height:300px;
    border-radius: 50%;  
} 


.works {
    align-items: center; 
}

li{
    padding: 10px;
}

ul {
    list-style: none;
    display: flex;
    font-weight: bold;
    padding: 15px 10px;
} 

#reg {
   background-color: #364e77;
   font-size:x-large;
   color: #e7f2ee;
   text-align:center;
   font-family:monospace;
   padding: 15px 10px;
   border: row;
   border-radius: 30px;
}

.guy {
    font-size:x-large;
    font-family: monospace;
    color:  #364e77;
    text-align:center;
    background-color:  #e98361c2;
    padding: 15px 10px;
}


.titu {
    text-align: center;
}

.list {
    font-size:x-large;
    font-family: monospace;
    color: #364e77;
    background-color:  #ca3f11;
    display: inline-flex;
    padding: 15px 20px;
    width: 100px;
    margin-right: 40px;
    border-radius: 50px;
    justify-content: center; /*para centrar el texto de un div*/
}

.list:hover{
    background-color: #364e77;
    color:  #d64d20;
}

.skills{
    margin-left: 15%;
}

.wk {
    font-size:x-large;
    font-family: monospace;
    color: #364e77;
    background-color: #d64d20;
    display: inline-flex;
    padding: 15px 20px;
    width: 500px;
    margin: 20px 20px;
    text-align: center;
    border-radius: 4px;
}

.works :hover {
    color:  #d64d20;
    background-color: #364e77;
}



h1{ 
    color: #392f0d;
}

.menu {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #364e77;
    font-size: 20px;
    color: #ffff; 
    right: 0px; 
    cursor: pointer;
}

.menu:hover {
    background-color: #ca3f11;
}


#foot{
    font-style: italic;
}

#helado {
    text-align: center;
}

#foot:hover{
   color: #f74fd0;
}


li:hover{
    /*text-decoration: underline;*/
    color: #364e77;

}

//Incorporar codigo de javascript 
// Botones para llevar a páginas donde se vea un poco de logica de programacion  
// un video ilustrativo que explique sobre java y como ha ido avanzando y cual es su futuro. Una exposicion tuya en inglés 
//un carrusel sobre los proyectos trabajados 
//ejemplos de diseño UX
//Tecnologias de java centrarse 
// paleta de colores de programador 
